*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
#container{
    position:relative;
    background-color: blueviolet;
    width:50vw;
    height:40vh;
    border-radius:15px;
    /* display:flex;
    justify-content:center;
    align-items:center; */
    


}
.child{
    position:absolute;
    background-color:blue;
    width: 60px;
    height:80px;
}
.child1{
    top:0;
    left:10px;
}
.child2{
    top:0;
    right:10px;
}
.child3{
    bottom:0;
    right:10px;
}
